
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: white; 
  
}

#root {
    margin-left: 2px;
    transition: .3s;
}

#root.menu_open {
    margin-left: 250px;
}


.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f6fa; 

}



main {
    display: flex;
    flex-grow: 1;
}


.btn {
    margin-left: 10px;
}

.form-check {
    max-width: 220px;
    margin-left: 20px;
}

.form {
    max-width: 80%;
    margin: auto;
}

.detailsLabel {
    margin-left: 10px;
    color: gray;
}

.btn {
    text-transform: uppercase;
    color: whitesmoke;
    width: 90px;
}

td.buttons {
    max-width: 95px;
}
