
header {
    position: relative;
    overflow: hidden;
    flex-basis: 30vh;
   
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}

