body {
    background-color:gray;
}
.container {
    text-align: center;
}
/* table {
    width: 400px;
    margin: auto;
    background-color: aqua;
} */

.btn {
    margin-left: 10px;
}


.form-check {
    max-width: 220px;
    margin-left: 20px;
}

.form {
    max-width: 80%;
    margin: auto;
}

.detailsLabel {
    margin-left: 10px;
    color: gray;
}
