nav.mainNav {
   
    width: 250px;
    padding: 10px;
}

nav.mainNav ul {
    list-style: none;
}

nav.mainNav li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 0;
    color: #535c68;
  
    transition: .3s;
}

nav.mainNav li {
    width: 100%;
}


nav.mainNav li a:hover {
    padding-left: 20px;
}

nav.mainNav li a.active {
    padding-left: 20px;
    border-left: 8px solid #ffbe76;
}



